/*OVER ALL*/

*{

/*    border: red solid 1px;*/
    box-sizing: border-box;
}


body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;


    background-color: #e2e2e2;
}

ul{
     margin: 0;
padding: 0;
}

/*Nav bar*/

nav {

    background-color: #fffdf4;
    padding: 1vw;
    position: fixed;
    width: 100vw;
    box-sizing: border-box;
    top: 0;
    z-index: 20;
}

#navbar_wrapper_con {
    display: flex;

}


.navbar_item {



    flex-grow: 1;

}

.navbar_item a {

    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    color: dimgrey;
    padding: 1vw;
    font-weight: 600;
    letter-spacing: .1vw;
    font-size: 3vw;

}

.navbar_item a:hover {
text-decoration: underline;
    cursor: pointer;
    color: black;

}

.logo h8{

    font-family: 'Homemade Apple', cursive;
    letter-spacing: .1vw;
    font-size: 3vw;

    text-transform: capitalize;
    right: -15vw;
    position: relative;


}


/*GALLERY */

#section_wrapper_picture {


    margin-bottom: 10vw;
    margin-top: 9vw;
}


.picture_wrapper_con {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

.picture_item {

margin: 1vw;

}


.container * {
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100%;
    max-width: 540px;
}

.image {
    display: block;
    width: 100%;
    cursor: pointer;

}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, , 0, 0.5);
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    height: 50%;
    transition: .4s ease;
    opacity: 0;
    color: white;
    font-size: 2em;
    padding: 20px;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
}

.container:hover .overlay {
    opacity: 1;
    cursor: pointer;
}


/*Footer*/

footer {

    bottom: 0;
    width: 100vw;
    background-color: #fff9f9;
    padding: 5px;
    z-index: 20;
    box-sizing: border-box;
}

footer p {
    font-family: 'Barlow', sans-serif;

    font-weight: 500;
    font-size: .5em;
    text-align: center;
}

/* About*/

/*Overall*/


h2 {
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 4vw;

}

p {
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
}

li {
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;

}

/*profile*/

#info {

    width: 100vw;
    height: 60vw;
    margin-top: 8vw;
    padding:.5vw 0vw .5vw 2vw;
    background-image: url(pics/potraitweb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}




.info_text {

    color: white;
    background-color: rgba(114, 114, 114, 0.26);
    max-width: 60vw;
    text-align: left;
    line-height: 3.3vw;
    font-size: 2.5vw;
    font-weight: 200;
    letter-spacing: .3vw;
    border-left: .1vw white solid;
    border-right: .1vw white solid;
    padding: 1vw 2.5vw;



}



/*skills*/

.skills {

    background-color: #ffffff;
    width: 100vw;
    font-weight: 900;
    letter-spacing: .5vw;
    padding: 1vw;
}

.skills_wrapper {

display: flex;
    justify-content: center;
}

.skills h2 {
    text-align: center;
    font-weight: 100;
    font-size: 6vw;
    letter-spacing: 6vw;
}

.skills ul {
   margin: 2vw;
    width: 55vw;
    padding: 0;
list-style-type: none;
    line-height: 10vw;
    font-size: 3vw;

}

.ul_1 {
text-align: right;
box-shadow: .5vw 0vw 1vw grey;
}

.ul_2 {

text-align: left;
box-shadow: -.5vw 0vw 1vw grey;

}

.skills li{

    padding: 2vw;

}
.skills li:hover {
font-size: 3.5vw;
 transition: font-size 1s;
    list-style-position: inside;
}


/*Education*/

.education {
    width: 100vw;
    background-color: #808080;
    color: white;
    text-align: left;
    box-sizing: border-box;
    padding: 10vw 10vw;

}

.education h2{

    letter-spacing: 2vw;
    font-weight: 700;
}

.education ul {
    list-style-type: none;
    line-height: 5vw;
    letter-spacing: 1vw;
    font-size: 4vw;


}




.education li {
    font-weight: 100;
    text-decoration: line-through;
    cursor: cell;


}

.education li:hover {

    color: black;
    text-decoration: none;
    font-weight:400;
    transition: 1s;
    cursor: pointer;
}


/*experince*/

.experince {

    background-color: #000000;
    color: white;
    width: 100vw;
     line-height: 7vw;

    box-sizing: border-box;
    text-align: right;
    text-transform: lowercase;
    padding: 10vw 10vw;

}

.experince h2 {
    font-weight: 900;
    letter-spacing: 2vw;
    text-align: left;

}

.experince h3 {

    font-family: 'Barlow', sans-serif;
    text-transform: capitalize;
    font-weight: inherit;


}


.experince ul {
    list-style-type: none;
    font-size: 4vw
}

.experince li:hover{

    transition: 1s;
box-shadow: -1vw -1vw 0vw rgba(255, 255, 255, 0.17);
}

/*Diplomas*/

.diplomas {
    width: 100vw;
    background-color: #919191;
    padding: 10vw 10vw;
    text-align: left;
    box-sizing: border-box;
}

.diplomas h2 {
    letter-spacing: 1.5vw;


}

.diplomas ul {

    line-height: 6vw;
    font-size: 4vw;
    animation: diplom 20s infinite alternate-reverse;

}


@keyframes diplom{

    from{
        color: black;

    }

    to{

        color: white;
    }
}
