/*SLIDE SHOW MOOBOARD */

* {
    /*    border: red solid 1px;*/
}

body {
    margin: 0;
    padding: 0;

}

#slideshow_moodboard_wrapper {

    background-color: #ffffff;
    color: black;



    padding: 10vw;

}

.w3-content w3-display-container {

    position: absolute;
    width: 100vw;
    height: 100vw;


}


.w3-display-left {

    position: relative;
    width: 10vw;
    height: 5vw;
    top: -5vw;
    left: 25vw;
    background-color: black;
    color: white;


}

.w3-display-right {

    position: relative;
    width: 10vw;
    height: 5vw;
    top: -5vw;
    left: 35vw;
    background-color: black;
    color: white;

}

.w3-center {

    text-align: center;
    font-size: 6vw;
    border-bottom: solid black 1px;
    padding-bottom: 10px;
    letter-spacing: -2vw;
}

.w3-center:hover {

    letter-spacing: 2vw;
}


/* styletile */

.typografi_content_wrapper {
    text-align: justify;
    background-color: #fff5d9;
    padding: 10vw 15vw;
    font-size: 4vw;
    color: gray;
}


.typografi_content_wrapper h2{
      text-align: center;
    font-size: 6vw;
    border-bottom: solid black .1vw;


}


.typografi_content_wrapper span {

    color: black;
    font-family: monoton, cursive;
    letter-spacing: .2vw;
    font-size: 3.5vw;

}

.typografi_content_wrapper a {

    color: black;
    font-family: monoton, cursive;
    letter-spacing: .2vw;
    font-size: 3.5vw;
    cursor: pointer;
    text-decoration: none;

}

/*COLERS*/

.colors_h2 {
    text-align: left;
padding: 5vw 15vw;
    letter-spacing: 5vw;
background-color: #363636;
    font-family: 'Barlow', sans-serif;
    font-size: 6vw;
    color: whitesmoke;
}

#Colors {
    width: 100vw;
    padding: 10vw 10vw;
    display: flex;
    flex-direction: row-reverse;
    background-color:
        #363636 ;
}

.column_colors {
    overflow: scroll;
    width: 56vw;
    height: 25vw;

    top: 10vw;
    left: 40vw;


}

.style {
    width: 50vw;
    height: 25vw;
    padding: 8vw;
    font-size: 5vw;
    text-align: center;
    font-family: 'Barlow', sans-serif;

}


.color1 {

    background-color: #e6c7d1;
}

.color2 {

    background-color: #f4c6a4;
}

.color3 {

    background-color: #00a07c;
}

.color4 {

    background-color: #b7860b;
}

.color5 {

    background-color: #c0c0c0;
}

.color6 {

    background-color: #000000;
    color: white
}

.colors_content ul {
    padding:3.vw;
    width: 20vw;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    margin-right: 3vw;
    color: whitesmoke;


}

.colors_content li {
    list-style-type: none;
    font-weight: 100;

    font-size: 3vw;
}


/*responsive*/

#responsive {
    width: 100vw;

}

.responsive_header {
padding: 10vw 10vw;
    background-color: #8b8e8e;
}


.responsive_header p {
    text-align: left;

    font-family: 'Barlow', sans-serif;
    color: aliceblue;
    font-size: 4vw;

}

.responsive_header h4 {

    text-align: left;

    font-family: 'Barlow', sans-serif;
    color: white;
    font-size: 6vw;
    font-weight: 100;

}

.splash_wrapper {
    display: flex;
    padding: 10vw;

    text-align: center;
    color: white;
    font-size: 2vw;
    font-family: 'Barlow', sans-serif;


}


.splash_wrapper img {

    width: 100%;



}

.splash_style {

    margin: 1vw;
}

.splash_style:hover {

    margin: 1vw;
    width: 1000%;

}
.splash_head{

    text-align: center;
    font-size: 5vw;
    padding: 1vw;
}

/*FAV ICON*/

.favicon_wrapper_con {

    background-color: white;
    padding-top: 4vw;

}

.favicon_header p {

    text-align: center;

    font-family: 'Barlow', sans-serif;
    color: black;
    font-size: 6vw;
    font-weight: 100;
}


.favicon_wrapper {
    display: flex;
    padding-bottom: 10vw;
    justify-content: center;

    text-align: center;
    color: white;
    font-size: 2vw;
    font-family: 'Barlow', sans-serif;


}



.favicon_wrapper img {

    width: 100%;


}

.fav_icon_style {


    margin: 1vw;
}

.fav_icon_style:hover {

    margin: 1vw;
    width: 50%;
    cursor: pointer;

}

/*Layoutdiagram text*/

.flex_wrapper {

    width: 100vw;
}

.l_d_text {
    background-color: #cccccc;
    text-align: left;
    padding: 10vw;
}

.l_d_text h2{
    font-size: 6vw;

}

.l_d_text p {
    font-size: 4vw;
}

/*Layoutdiagram*/

.l_d_wrapper h5 {
    margin: 0;
    margin-top: 5vw;
    text-align: center;
    color: white;
    font-size: 6vw;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 1vw;
    text-transform: uppercase;
}

.l_d_wrapper {



    width: 100vw;
    padding: 1vw;
    background-color: rgb(64, 64, 64);



}



.layout_diagram_wrapper {

    border: solid black 2px;

    padding: 2vw 2vw;
    border-radius: 20px;
    text-align: center;

    transform: scale(.6);
    background-color: rgba(214, 214, 214, 0.96);

}


.layout_diagram_wrapper > div:hover {

    flex-direction: row;

}

.layout_diagram_wrapper h2 {


    font-size: 1vw;

}


.layout_diagram_section_wrapper {

    display: flex;
    flex-direction: column;

    border: solid red 2px;
    margin: 1vw;
    padding: 1vw;

}

.column_wide {

    border: green solid 2px;
    margin: 1vw;
    padding: 1vw;
}





.column_narrow {

    border: green solid 2px;
    margin: 1vw;
    padding: 1vw;
}

.top {
    border: solid red 2px;
    margin: 1vw;
    padding: 1vw;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}



.bottom {
    border: solid red 2px;
    margin: 1vw;
    padding: 1vw;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.txt {

    border: green solid 2px;
    margin: 1vw;
    padding: 1vw;

}

.imagine {

    border: green solid 2px;

}


/*platforms*/

.platform_header{
    width: 100vw;
    text-align: center;
    padding: 1vw 10vw;
    font-size: 5vw;
    letter-spacing: 4vw;
        background-color: white;

}

.platform_con {
    padding: 10vw 10vw;
    width: 100vw;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 4vw;
    background-color: white;

}




.platform_bg {

    background-image: url(pics/platforms-100.jpg);
    background-size: 100% 100%;
    width: 75vw;
    height: 40vw;
    box-sizing: border-box;


}
